$backgroundColor: #fff;
$backgroundSecondaryColor: #eff3f6;
$shadowColor: #bac2c9;
$primaryColor: #036dee;
$secondaryColor: #008798;
$fontColor: #394249;
$fontDisabledColor: #8397a5;

$backgroundColorDark: #34383d;
$backgroundSecondaryColorDark: #2a2d31;
$shadowColorDark: #0b0d10;
$primaryColorDark: #0b9dff;
$secondaryColorDark: #03c8cb;
$fontColorDark: #c1ccd5;
$fontDisabledColorDark: #617482;
