@import "./nullstyle.scss";
@import "./_colors";

// Стили темной темы
html.dark-mode {
    body {
        background-color: $backgroundSecondaryColorDark;
        color: $fontColorDark;
    }
    .btn {
        border: 3px solid $fontColorDark;
        color: $fontColorDark;
        svg {
            fill: $fontColorDark;
        }
        &:active {
            background-color: rgba($color: $shadowColorDark, $alpha: 0.2);
        }
    }
    .footer {
        box-shadow: 0 0 4px $shadowColorDark;
    }
    .toggle {
        &__body {
            background-color: $backgroundSecondaryColorDark;
            box-shadow: 0 0 4px $shadowColorDark;
            &:hover {
                .toggle__circle {
                    box-shadow: 0 0 4px $shadowColorDark;
                }
            }
        }
        &__circle {
            background-color: #f7f7f7;
            &::before {
                content: "";
                @include adaptive-value("width", 10, 8, 0);
                @include adaptive-value("height", 10, 8, 0);
                border-radius: 50%;
                @include adaptive-value("top", 5, 4, 0);
                @include adaptive-value("left", 5, 4, 0);
                position: absolute;
                background-color: #cec0c0;
                filter: blur(0);
            }
            &::after {
                content: "";
                @include adaptive-value("width", 6, 4, 0);
                @include adaptive-value("height", 6, 4, 0);
                border-radius: 50%;
                @include adaptive-value("top", 15, 12, 0);
                @include adaptive-value("left", 15, 12, 0);
                position: absolute;
                background-color: #cec0c0;
            }
        }
    }
    .menu {
        &__item {
            color: $fontColorDark;
            &:active {
                background-color: rgba($color: $shadowColorDark, $alpha: 0.2);
            }
        }
    }
    .loader {
        &__progress {
            background-color: $primaryColorDark;
        }
    }
    .title {
        color: $fontColorDark;
    }
    .subtitle {
        color: $secondaryColorDark;
    }
}

// Базовые классы
body {
    background-color: $backgroundSecondaryColor;
    color: $fontColor;
    transition: 0.3s;
    font-family: "Exo 2", sans-serif;
    @include adaptive-value("font-size", $fontSizeStart, $fontSizeEnd, 0);
    overflow-y: scroll;
    overflow-x: hidden;
}
.btn {
    padding: 5px 15px;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
    color: $fontColor;
    cursor: pointer;
    display: flex;
    width: fit-content;
    align-items: center;
    border: 3px solid $fontColor;
    border-radius: 15px;
    svg {
        margin-right: 7px;
        fill: $fontColor;
        align-items: center;
        height: 30px;
        width: 30px;
    }
    &:hover {
        opacity: 0.5;
    }
    &:active {
        background-color: rgba($color: $shadowColor, $alpha: 0.2);
        transition: 0.1s;
        transform: scale(0.97);
        opacity: 1;
    }
}
#__nuxt {
    height: 100vh;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1170px;
    @include adaptive-value("padding-left", 15, 5, 0);
    @include adaptive-value("padding-right", 15, 5, 0);
    margin: 0 auto;
}
.title {
    @include adaptive-value("font-size", $titleSizeStart, $titleSizeEnd, 0);
    color: $fontColor;
    font-weight: bold;
}
.subtitle {
    @include adaptive-value("font-size", $subtitleSizeStart, $subtitleSizeEnd, 0);
    color: $secondaryColor;
}
.main {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
}
